@import 'variable';

html {
  width: 100%;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  body {
    min-width: 100vw;
    height: auto;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
}
// global use
.page-container {
  padding: 4% 0;
}
.button-default {
  background-color: $button-bgcolor;
  text-transform: uppercase;
  color: $button-txtcolor;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  border: 0;
  outline: 0;
  cursor: pointer;
  box-shadow: 0 3px 0 1px $button-boxshadow;
  padding: 15px 28px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  &:hover,
  &:focus {
    box-shadow: none;
  }
}
//
nav {
  &.custom-navbar {
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    li.nav-item {
      margin-right: 30px;
      &.active,
      &:hover,
      &:focus {
        a.nav-link {
          color: $primary-txtcolor-hover;
        }
      }
      a.nav-link {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.banner-top {
  height: 100vh;
  width: 100%;
  position: relative;
  .image-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    height: inherit;
  }
  .image-overlay {
    width: inherit;
    height: inherit;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
  }
  nav {
    width: 100%;
  }
  .one-slide--item {
    position: relative;
    display: block;
    height: calc(100vh - 100px);
    width: inherit;
    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      h4 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 15px;
        @media (min-width: 768px) {
          font-size: 3.6rem;
        }
      }
      h3 {
        font-size: 2.8rem;
        font-weight: 900;
        margin-bottom: 2.5rem;
        @media (min-width: 768px) {
          font-size: 5.2rem;
        }
      }
      p {
        font-size: 1.6rem;
        word-break: break-word;
        margin-bottom: 25px;
      }
    }
  }
  // slick carousel config
  .slick-dots {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 20px;
    align-items: center;
    li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      &.slick-active,
      &:hover {
        button {
          border: 1px solid #fff;
          transform: scale(1.03);
          transition: all 0.3s ease-in-out;
          background-color: transparent;
        }
      }
      button {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        border-radius: 50%;
        outline: 0;
        background-color: #959394;
        &::before {
          font-family: slick;
          font-size: 6px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 10px;
          height: 10px;
          content: '•';
          text-align: center;
          opacity: 0.25;
          color: #000;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
  .custom-slick-arrow {
    z-index: 2;
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background: 0 0;
    color: #d3c1ad;
    cursor: pointer;
    &.slick-prev {
      left: 7.5%;
    }
    &.slick-next {
      right: 7.5%;
    }
  }
}
.widget {
  .widget-item {
    color: $title-txtcolor;
    text-align: center;
    &:hover {
      color: $primary-txtcolor-hover;
      hr {
        border-top-color: $primary-txtcolor-hover;
      }
    }
    .widget--icon {
      font-size: 50px;
    }
    .widget--title {
      margin: 30px 0 20px;
      h4 {
        font-size: 2.2rem;
        font-weight: 600;
      }
    }
    .widget--content {
      color: $secondary-txtcolor;
      font-weight: 400;
    }
    hr {
      width: 7rem;
      border-top: 5px solid $hr-color;
    }
  }
}

.browser {
  background-color: $secondary-bgcolor;
  width: 100%;
  height: auto;
}
