//button
$button-bgcolor: #998675;
$button-txtcolor: #fff;
$button-boxshadow: #736357;

//text
$title-txtcolor: #555555;
$primary-txtcolor-hover: #c7b299;
$secondary-txtcolor: #8c8c8c;

//hr
$hr-color: #f1eee9;

//bg
$primary-bgcolor: #fff;
$secondary-bgcolor: #fbfaf8;
